---
- name: Example Playbook to run 'pwd'
  hosts: mytargets # Replace with 'localhost' or an inventory group like 'webservers'
  gather_facts: false      # We don't need facts for this simple task

  tasks:
    - name: Counter
      ansible.builtin.shell: python3 -u /tmp/example.py | tee /tmp/counter.log
      register: pwd_result
      # 'register' saves the output (stdout, stderr, rc) into a variable

    - name: Fetch the log file from the remote server
      ansible.builtin.fetch:
        # The absolute path of the file on the REMOTE host
        src: /tmp/count_output.log

        # The local directory where files will be saved on the Jenkins machine
        # The default behavior creates a path like: ./fetched/HOSTNAME/var/log/syslog
        dest: "{{ fetch_dest }}"

        # 'flat: yes' optional parameter
        # If set to 'yes', the file is saved directly into the 'dest' folder
        # without the hostname and original directory structure.
        # e.g. ./fetched/syslog
        flat: yes
